#nonprint {
    display: none;
}
#print {
    display: block;
}
#templates {
    display: none;
}

.page {
    margin-left: 2cm;
    margin-top: 0.5cm;
    margin-right: 1cm;
    margin-bottom: 1cm;
    width: 15.5cm;
    height: 26.4cm;
    position: relative;

    font-size: 10pt;
}

.page-separator {
    height: 0.0cm;
    font-size: 1%;
    overflow: hidden;
}
.pagebreak {
    page-break-before: always;
}

.page .logo {
    position: absolute;
    top: 0.1cm;
    right: 0;
    width: 4.5cm;
}

.page .title {
    font-size: 150%;
    font-weight: bold;
    position: absolute;
    top: 0;
}

.page .name {
    position: absolute;
    font-weight: bold;
    top: 1.4cm;
}

.page .name_value {
    position: absolute;
    top: 1.4cm;
    left: 4.1cm;
    width: 5.5cm;
    font-weight: bold;
    padding-left: 0.1cm;
    border-bottom: 1px solid #000;
}

.page .weekhours {
    position: absolute;
    top: 2.1cm;
    font-weight: bold;
    line-height: 0.4cm;
}

.page .weekhours_value {
    position: absolute;
    top: 2.2cm;
    left: 4.1cm;
    width: 5.5cm;
    padding-left: 0.1cm;
    border-bottom: 1px solid #000;
}

.page .monthyear {
    position: absolute;
    top: 3.1cm;
    font-weight: bold;
}

.page .monthyear_value {
    position: absolute;
    top: 3.1cm;
    left: 4.1cm;
    width: 2.5cm;
    padding-left: 0.1cm;
    border-bottom: 1px solid #000;
}

.page .personalnumber {
    position: absolute;
    top: 3.1cm;
    left: 7.4cm;
}

.page .personalnumber_value {
    position: absolute;
    top: 3.1cm;
    left: 9.2cm;
    width: 2.5cm;
    padding-left: 0.1cm;
    border-bottom: 1px solid #000;
}

.page table {
    position: absolute;
    top: 4.5cm;
    border-collapse: collapse;
    border: 1px solid #000;
    width: 100%;
}

.page table th,
.page table td {
    border: 1px solid #000;
    padding: 1px;
}

.page table th {
    text-align: center;
    font-weight: normal;
    white-space: nowrap;
    background-color: gray;
}

.page table td {
    text-align: center;
}

.page table td.number {
    width: 65px;
}
.page table td.begin,
.page table td.pause,
.page table td.end,
.page table td.sum {
    width: 70px;
}

.page table td.shortcut {
    width: 30px;
}

.page table td.number span {
    width: 0.6cm;
    display: inline-block;
}

.page div.sum {
    position: absolute;
    top: 23.2cm;
    left: 6.3cm;
    width: 3cm;
    border-bottom: 2px double #000;
}

.page div.sum strong {
    margin-right: 0.3cm;
}

.page .sign_employee {
    position: absolute;
    top: 25cm;
    width: 7cm;
    border-top: 1px solid #000;
    font-size: 90%;
}

.page .sign_employee span {
    margin-right: 1.3cm;
    padding-left: 0.1cm;
}

.page .sign_employer {
    position: absolute;
    top: 25cm;
    left: 8.5cm;
    width: 7cm;
    border-top: 1px solid #000;
    font-size: 90%;
}

.page .sign_employer span {
    margin-right: 1.4cm;
    padding-left: 0.1cm;
}